<a href="https://colab.research.google.com/github/SimplificandoDatos/python-generalidades/blob/master/colab/14_google_colab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción al uso de Google Colab

## Edición de texto

***hola***


---


1.   Elemento de la lista
2.   Elemento de la lista


---



*   Elemento de la lista
*   Elemento de la lista


---
`print('hola')`

## Instalar otras librerías Python con Pip

In [1]:
!pip install astropy

Requirement already satisfied: astropy in /usr/local/lib/python3.6/dist-packages (3.0.5)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from astropy) (1.16.4)

## Carga de Datos

### Carga de archivos locales

In [2]:
from google.colab import files
uploaded = files.upload()

Saving clima.csv to clima.csv

#### Leeremos el archivo

In [0]:
import pandas as pd

In [4]:
data=pd.read_csv('clima.csv')
data.head()

                  time  precipIntensity  ...  windSpeed  cloudCover
0  2018-01-01 00:00:00              0.0  ...        0.0        0.19
1  2018-01-01 01:00:00              0.0  ...        0.0         NaN
2  2018-01-01 02:00:00              0.0  ...        0.0         NaN
3  2018-01-01 03:00:00              0.0  ...        0.0         NaN
4  2018-01-01 04:00:00              0.0  ...        0.0         NaN

[5 rows x 9 columns]

### Enlazar con Google Drive

Este es el código para que puedas autorizar la conexión entre google collab y google drive.

Luego de ejecutarlo, te aparecerá un enlace al cual debes dar click y te dará un un código que debes copiar y pegar en una caja que te aparecerá, con esto das la autorización.

Luego solo queda que hagas actualizar en el tab de archivos y veras tu unidad montada y lista para utilizarse.

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

In [6]:
!ls /content/drive/My\ Drive/

 12-vscode_3.md     imagenes	  'Saludo 2.md'  'Saludo 5.md'
'Colab Notebooks'   Pasos.md	  'Saludo 3.md'   Saludo.md
'Ideas Videos'	   'Saludo 1.md'  'Saludo 4.md'   sample_data

In [7]:
data2=pd.read_csv('/content/drive/My Drive/sample_data/01_enero.csv')
data2.head()

   Unnamed: 0                 time  ...  uvIndex  visibility
0           1  2018-01-01 00:00:00  ...      0.0       10.01
1           2  2018-01-01 01:00:00  ...      0.0       10.01
2           3  2018-01-01 02:00:00  ...      0.0       10.01
3           4  2018-01-01 03:00:00  ...      0.0       10.01
4           5  2018-01-01 04:00:00  ...      0.0       10.01

[5 rows x 12 columns]

### Descargar datos desde la web

In [8]:
!wget https://github.com/jbagnato/machine-learning/raw/master/sportimages.zip

--2019-08-26 00:15:12--  https://github.com/jbagnato/machine-learning/raw/master/sportimages.zip
Resolving github.com (github.com)... 192.30.253.112
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/jbagnato/machine-learning/master/sportimages.zip [following]
--2019-08-26 00:15:12--  https://raw.githubusercontent.com/jbagnato/machine-learning/master/sportimages.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62780277 (60M) [application/zip]
Saving to: ‘sportimages.zip’

sportimages.zip     100%[===================>]  59.87M   178MB/s    in 0.3s

2019-08-26 00:15:16 (178 MB/s) - ‘sportimages.zip’ saved [62780277/62780277]

In [0]:
!unzip -uq '/content/sportimages.zip' -d '.'

## Mostrar dataframes como tablas interactivas

In [0]:
%load_ext google.colab.data_table

In [0]:
data

In [0]:
%unload_ext google.colab.data_table

## Correr un script

In [13]:
!python3 /content/drive/My\ Drive/sample_data/code.py

Saludos dataistas
import pandas as pd
data=pd.read_csv('clima.csv')
print(data.head())
                  time  ...  cloudCover
0  2018-01-01 00:00:00  ...        0.19
1  2018-01-01 01:00:00  ...         NaN
2  2018-01-01 02:00:00  ...         NaN
3  2018-01-01 03:00:00  ...         NaN
4  2018-01-01 04:00:00  ...         NaN

[5 rows x 9 columns]

## Guardar datos

In [0]:
from google.colab import files
data.to_csv('clima2.csv')
files.download('clima2.csv')